{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}

    <h3> <a href="{% url 'learning_logs:new_topic' %}"> Add a new topic:</a> </h3> <hr>
    <ul>
        <h4> List of topics: </h4>
        {% for topic in topics %}                                           <!-- Use a template tag to loop through the list -->
            <li> 
                <h5>
                    <a href="{% url 'learning_logs:topic' topic.id %}">
                        {{ topic }} </a>
                </h5>
            </li>
        {% empty %}                                                         <!-- This checks wehther the list is empty -->
            <li>No topics have been added yet</li>
        {% endfor %}                                                        <!-- In a template, every for loop needs a closing tag -->
    </ul>

{% endblock content %}